extends /layouts/default.pug
block title
	title #{org.name} на улице #{org.street} в городе #{city.name} - отзывы об организации от покупателей и сотрудников
block body
	.content-section-b
		.container
			- var reviewPage = true
			include /includes/urls
			include /includes/bread-crumbs
			h1 #{org.name} на улице #{org.street} г. #{city.name} - отзывы