extends /layouts/default.pug
block title
	title #{org.name} на улице #{org.street} в городе #{city.name} - адрес, график работы, телефон, контактная информация
block body
	.content-section-b
		.container
			- var orgPage = true
			include /includes/urls

			#MainMap(style="width:100%;height:400px;")
			include /includes/bread-crumbs
			
			.col-md-8
				.panel.panel-default
					.panel-heading 
						h1 #{orgName} на улице #{org.street} г. #{cityName}
					.panel-body
						p 
							| Адрес #{org.address.postcode}, #{cityName}, 
							| #{org.address_name} 
						p
							| Расположение: #{org.address_comment}
						p 
							| Координаты GPS: 
							| #{org.point.lat} #{org.point.lon}
						p 
							| Уважаемые клиенты #{org.name_ex.primary}, пожалуйста, оставьте свой 
							a(href= orgUrl + '/reviews', title=orgTitle + ' - отзывы') отзыв
							|  или задайте вопрос – мы обязательно вам ответим!
			.col-md-4
				.panel.panel-info
					.panel-heading Часы работы
					.panel-body
			.col-md-4
				.panel.panel-info
					.panel-heading Виды деятельности
					ul.list-group
						each rubr in org.rubrics
							if rubr.parent_id != null
								li.list-group-item #{rubr.name}
block map-script
	include /includes/map